entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "streamlit", "openssh"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Streamlit Dashboard"

[[workflows.workflow]]
name = "Run FastAPI"
author = 44777366
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"

[[workflows.workflow]]
name = "Run FastAPI Uvicorn"
author = 44777366
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 8000"

[[workflows.workflow]]
name = "Run Streamlit Dashboard"
author = 44777366
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run dashboard.py --server.port=8501 --server.address=0.0.0.0"

[[workflows.workflow]]
name = "Run Custom Streamlit"
author = 44777366
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run layout_aurora_ratio.py --server.address=0.0.0.0 --server.port=8501"

[[ports]]
localPort = 8501
externalPort = 80
